<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
    </head>

<body>
<div class="col-md-2 top-space-5">
    <a href="/"><img src="/static/qxf2_logo.png" class="img-responsive logo col-md-12" alt="Qxf2 Services"></a>	
    <div class="col-md-8 top-space-15 text-center">
        <h1 class="banner-brown text-center">Qxf2 Social Media Dashboard</h1>
        <h3>Last updated {{recorddate}}</h3> 
      </div>
</div>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-docker rounded">
                <span class="mini-stat-icon"><i class='fab fa-docker' style='font-size:48px;color:blue'></i></span>
                <div class="mini-stat-info">
                    <span>{{docker_pull}}</span>
                    Docker Pulls
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-wordpress rounded">
                <span class="mini-stat-icon"><i class="fab fa-wordpress" style='font-size:48px;color:black'></i></span>
                <div class="mini-stat-info">
                    <span>{{blog_post_count}}</span>
                    Total published blogs
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-googleplus rounded">
                <span class="mini-stat-icon"><i class="fab fa-github fg-googleplus"></i></span>
                <div class="mini-stat-info ">
                    <span style="display: inline-block;">{{github_forks}} <br>Forks</span>
                    <span style="display: inline-block;">{{github_stars}} <br>Stars</span>
                    <span style="display: inline-block;">{{github_subscribers}} <br>Watch</span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-bitbucket rounded">
                <span class="mini-stat-icon"><i class="fab fa-mailchimp fg-bitbucket" style='font-size:48px;color:blue'></i></span>
                <div class="mini-stat-info">
                    <span style="display: inline-block;">{{campaigns_count}} <br>Newsletters Sent</span>
                    <span style="display: inline-block;">{{subscribers_count}} <br>Active Subscriber</span>
                </div>
            </div>
        </div> 
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="mini-stat clearfix bg-bitbucket rounded">
                <span class="mini-stat-icon"><i class="fab fa-twitter fg-bitbucket" style='font-size:48px;color:purple'></i></span>
                <div class="mini-stat-info">
                    <span style="display:inline-block;text-align: left;">{{followers}} <br/>Followers</span>
                    <span style="display:inline-block;">{{following}} <br/> Following</span>
                </div>
            </div>
        </div>       
	</div>
</div>

</body>
</html>